# Variables de entorno para MongoDB (producción)
# Reemplazar los valores antes de entregar al cliente.
MONGO_INITDB_ROOT_USERNAME=CAMBIAR_ESTO
MONGO_INITDB_ROOT_PASSWORD=CAMBIAR_ESTO
MONGO_INITDB_DATABASE=pdf_extraction_db
